.cloud {
    width: min(60vh, 80vw);
    height: min(60vh, 80vw);
    position: absolute;
    background: radial-gradient(circle, white 40%, transparent 50%);
    animation: resizeWidth 3s ease-in-out infinite alternate;
    overflow: hidden;
}

.big-cloud {
    width: min(75vh, 95vw);
    height: min(75vh, 95vw);
}

.cloud:nth-child(1) { top: -20vh; left: 90vw}
.cloud:nth-child(2) { top: -25vh; left: 10vw}
.cloud:nth-child(3) { top: -20vh; left: -15vw}
.cloud:nth-child(4) { top: -45vh; left: 10vw}
.cloud:nth-child(5) { top: -23vh; left: 80vw}
.cloud:nth-child(6) { top: -39vh; left: 25vw}
.cloud:nth-child(7) { top: -45vh; left: 35vw}
.cloud:nth-child(8) { top: -45vh; left: 50vw}
.cloud:nth-child(9) { top: -29vh; left: 70vw}
.cloud:nth-child(10) { top: -23vh; left: 80vw}
.cloud:nth-child(11) { top: -23vh; right: 85vw}
.cloud:nth-child(12) { top: -23vh; left: 80vw}
.cloud:nth-child(13) { top: 33vh; right: 91vw}
.cloud:nth-child(14) { top: -33vh; left: -45vh}
.cloud:nth-child(15) { top: -40vh; left: -5vw}

.star-image {
    position: absolute;
    width: 10vh;
    left: 5vw;
}

#stars {
    position: sticky;
    height: 100px;
    top: 100px;
    background-color: red;
}

.star-image:first-of-type { top: 15vh; left: 90vw}

@keyframes resizeWidth {
    0% {
        margin-left: 5px;
    }
    50% {
        margin-left: 0;
        margin-top: 5px;
    }
    100% {
        margin-top: 0px;
        margin-right: 5px;
    }
}

main {
    background: linear-gradient(var(--background-color1), var(--background-color2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main * {
    color: white;
}

main h1, main h2, main h3 {
    width: 90%;
    text-shadow: var(--basic-text-glow);
    text-align: center;
    animation: text-glow 1.5s ease-in-out infinite alternate;
}

#rnd-fact-text {
    font-size: 1.9rem;
    width: min(90%, 1000px);
}

#current-fact-day {
    background: linear-gradient(var(--background-color3lowopc), var(--background-color2));
    padding: 5px 10px;
    border-radius: 40px;
    font-family: Consolas, Arial, Helvetica, sans-serif;
}

@keyframes text-glow {
    0% {
        text-shadow: var(--basic-text-glow);
    } 
    100% {
        text-shadow: var(--big-text-glow);
    }
}

main h1 {
    font-size: 5rem;
}

main h2 {
    font-size: 2rem;
}

main h3 {
    font-size: 1.5rem;
    position: relative;
    top: 10vh;
    margin: 0px 0;
}

#info {
    background: linear-gradient(var(--background-color2), var(--background-color3));
    width: 100vw;
    padding-top: 30vh;
}

#title-about-me, #info p {
    text-shadow: var(--basic-text-glow);
}

#info span {
    text-shadow: none;
    font-family: "Bahnschrift SemiBold", sans-serif;
}

#title-about-me {
    white-space: pre;
    font-size: 4rem;
    display: inline-block;
    margin-left: 5vw;
    padding: 10px 0;
    padding-left: 1vw;
    position: relative;
    text-align: center;
    left: -20vw;
    width: 120vw;
}

.half-width-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info p, #info p span {
    padding: 20px;
    font-size: 2rem;
    display: block;
    width: 92%;
}

#info p span {
    display: block;
    width: 100%;
    font-size: 0.8em;
    color: var(--background-color2);
    margin: 0px;
    margin-top: 15px;
    text-align: right;
    border-radius: 5px;
}

#info p, #info h1 {
    border-radius: 4px;
    transform: rotate3d(1, -0.5, 0, 35deg);
    background: linear-gradient(-10deg, var(--background-color3lowopc), rgba(202, 10, 55, .3));
    background-size: 150% 150%;
    box-shadow: var(--background-color3) 6px 10px 5px;
    color: var(--font-color2);
    animation: background-effect 2s ease-in-out infinite alternate;
}

@keyframes background-effect {
    0% {
        background-position: 0% 0%;
        transform: rotate3d(1, -0.2, 0, 35deg);
    }
    100% {
        background-position: 100% 100%;
        transform: rotate3d(1, -0.15, 0, 35deg);
    }
}

.horizontal-flex {
    display: flex;
    align-items: flex-start;
}

#links {
    background: linear-gradient(var(--background-color3), var(--background-color4));
    width: 100vw;
    padding: 10vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab {
    background-size: 150% 150%;
    background-position: 0% 0%;

    text-shadow: var(--basic-text-glow);
    color: white;
    background: linear-gradient(10deg, var(--background-color3), var(--background-color4));
    padding: 30px;
    width: 80vw;

    border: 3px solid black;
}

.links-left-part-width {
    width: 80%;
}

.tab-anchor {
    width: 20%;
    max-height: 20vh;
    font-size: 3rem;
    margin: auto 0;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;

    border: none;
    box-shadow: 0 0 10px white;
}

.tab-anchor:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: white;
    cursor: pointer;
}

.tab:nth-child(odd) {
    animation: tab-effect 3s ease-in-out infinite alternate;
    box-shadow: rgba(0, 0, 0, 0.7) 6px 10px 10px;
}

.tab:nth-child(even) {
    animation: tab-effect2 3s ease-in-out infinite alternate;
    box-shadow: rgba(0, 0, 0, 0.7) -6px 10px 10px;
}

.tab:nth-child(3) {
    background: linear-gradient(10deg, #202020, #404040);
    box-shadow: black 6px 10px 10px;
}

.tab:nth-child(3) h1, .tab:nth-child(3) p {
    font-family: var(--discussions-font);
}

@keyframes tab-effect {
    0% {
        background-position: 0% 0%;
        transform: rotate3d(.7, -0.3, .1, 35deg);
    }
    100% {
        background-position: 100% 100%;
        transform: rotate3d(.7, -0.32, .1, 35deg);
    }
}

@keyframes tab-effect2 {
    0% {
        background-position: 0% 0%;
        transform: rotate3d(.7, 0.3, -.1, 35deg);
    }
    100% {
        background-position: 100% 100%;
        transform: rotate3d(.7, 0.32, -.1, 35deg);
    }
}

.tab h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.tab p {
    font-size: 2rem;
}

#page-bottom {
    background: linear-gradient(var(--background-color4), var(--background-color5));
    padding-top: 25vh;
    width: 100vw;
}

#page-bottom-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-bottom h1, #page-bottom h2 {
    text-align: center;
    width: 95%;
}

#page-bottom h1 {
    font-size: 4rem;
}

#page-bottom h2 {
    font-size: 2rem;
    opacity: 0.4;
}

#social-media-container {
    display: flex;
    margin: 0 30%;
    margin-top: 30px;
}

.social-media {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;

    color: black;
    text-decoration: none;
}

#coffee {
    color: gold;
    text-shadow: 0 0 25px yellow;
    animation: coffee-color-change 2s ease infinite alternate;
}

@keyframes coffee-color-change {
    0% {
        color: gold;
        text-shadow: 0 0 25px yellow;
    } 100% {
        color: orange;
        text-shadow: 0 0 15px orangered;
    }
}

/*
.social-media:hover {
    color: white;
}*/

#discord {
    transition: color 0.3s ease;
}

#discord:hover {
    color: #7289da;
} 

#youtube {
    transition: background-color 0.3s ease, color 0.3s ease;
}


#youtube:hover {
    background-color: #ff0000;
    color: white;
}

#footer-image {
    width: 100%;
    position: relative;
    bottom: -1.2vh;
    object-fit: contain;
    object-position: bottom;
}

footer {
    position: relative;
    z-index: 1;
    padding: 10px;
    height: 60px;
    background-color: black;
}

footer p {
    color: white;
}

@media (max-width: 768px) {
    .star-image, .about-me-stars {
        display: none;
    }

    .horizontal-flex {
        display: block;
    }

    .horizontal-flex div {
        width: 100% !important;
    }

    html {
        font-size: 0.6rem;
    }

    .tab {
        display: block;
    }

    #links-left-part-width, .tab-anchor {
        width: 100%;
    }
    
    .tab-anchor {
        margin: 15px 0;
        display: block;
    }
 }